<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Explore</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content no-padding>
 <ion-img src="/assets/wat-arun.jpg"></ion-img>
 <div class="caption">
  <h3>YOURS TO EXPLORE</h3>
  <span>Discover abd look amazing things to do at exclusive price.</span>
 </div>

 <ion-card>
  <ion-card-header>
    <ion-card-title style="font-size: 18px">Must See</ion-card-title>
  </ion-card-header>
  <ion-img src="/assets/must-see.jpg"></ion-img>
 </ion-card>
 
</ion-content>
