<!-- <ion-header>
 <ion-toolbar> <ion-title>Bookings</ion-title> </ion-toolbar>
</ion-header> -->

<ion-content padding>
 <ion-row>
  <ion-col align="center">
   <ion-icon size="large" name="bookmarks" style="color: #b4b4b4;"></ion-icon>
  </ion-col>
 </ion-row>

 <ion-row>
  <ion-col align="center">
   <span style="color: #b4b4b4;">
    No bookings..yet! <br />
    Explore amazing experiences and book searnlessly.
   </span>
  </ion-col>
 </ion-row>

 <ion-row>
    <ion-col align="center">
        <ion-button color="light" routerLink="/tabs/explore">Go to Explore</ion-button>
    </ion-col>
   </ion-row>
</ion-content>
