<ion-header>
 <ion-toolbar>
  
  <ion-buttons slot="start">
   <ion-back-button
    routerLink="/tabs/destination"
    [text]="'Back'"
    (click)="clearDestinationProvince()"
   ></ion-back-button>
  </ion-buttons>

  <ion-title align="center">
    จ.{{province}}
  </ion-title>

 </ion-toolbar>
</ion-header>

<ion-content no-padding>
 <ion-card class="welcome-card" *ngFor="let item of detailList; let i = index">
  <ion-img [src]="item.imgSrc"></ion-img>
  <ion-card-header>
   <ion-card-subtitle>Example Subtitle</ion-card-subtitle>
   <ion-card-title>Example Title</ion-card-title>
  </ion-card-header>
  <ion-card-content>
   <p>
    Now that your app has been created, you'll want to start building out
    features and components. Check out some of the resources below for next
    steps.
   </p>
  </ion-card-content>
 </ion-card>
</ion-content>
