.login-bg {
 background-image: url('/assets/bg-login.jpg');
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

:host {
 ion-content {
  --background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
 }

 ion-item {
  --background: rgba(0, 0, 0, 0);
 }

 ion-card {
  --border-radius: 3%;
  --border-color: #ffffff;
  --background: rgba(0, 0, 0, 0.208);
 }
 
}
