<!-- <ion-header>
 <ion-toolbar> <ion-title>Cart</ion-title> </ion-toolbar>
</ion-header> -->

<ion-content padding>
 <ion-grid align-items-center>

  <ion-row>
   <ion-col align="center">
    <ion-icon size="large" name="cart" style="color: #b4b4b4;"></ion-icon>
   </ion-col>
  </ion-row>

  <ion-row>
   <ion-col align="center">
    <span style="color: #b4b4b4;">
     Your shopping cart is empty <br />
     please find an activity first.
    </span>
   </ion-col>
  </ion-row>
  
 </ion-grid>
</ion-content>
